header {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
    font-size: 1rem;
    line-height: 1.5rem;
    background-color: $white-base;
    box-shadow: 3px 0 8px rgb(212, 212, 212);
    padding: 1rem 1rem;

    & img {
        border-radius: 10px;
        width: 150px;
    }

    & nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 1rem;
        height: 70px;

        & ul {
            display: flex;
            flex-direction: column;
            justify-content:baseline;
            align-items: flex-start;
            color: #5f6368;
            font-weight: 600;
            transition: 150ms;
            padding: 15px;
            min-width: 200px;
            cursor: pointer;

        }

        & a {
            display: block;
            justify-content: center;
            align-items: center;
            color: #5f6368;
            text-decoration: none;
            font-weight: 600;
            cursor: pointer;
            // height: 100%;
            padding: 15px;
            border-radius: 6px;

            &:hover {
                color: #202124;
                background-color: #f8f9fa;
            }
        }
    }
}