$white-base: #fff;
$anti-flash-white: #C0BCB5;
$silver: #C0BCB5;
$eerie-black: #1c2321;
$black: #0c0c0c;
$ecru: #D0B17A;
$prusian-blue: #173753;

$font-base: 'Poppins', sans-serif;
$font-title: 'Montserrat', 'Arial';